.todolist-wrapper {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid lightgray;
    margin: 10px auto;
    align-items: center;
    border-radius: 14px;
    padding: 0 10px;
}

.btn-2 {
   
    padding: 10px 35px;
    text-align: right;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;

}

.btn-wrapper {
    display: flex;
    gap: 10px;
}


@media (max-width: 575.98px) { 

    .todolist-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin: 10px auto;
        align-items: center;
        border-radius: 14px;
        padding: 0 20px;
    }
    .btn-wrapper {
        margin-right: 10px;
    }

   
    
 }
